{% extends 'base.html' %}

{% block title %}
<title>Hospital Inventory Management System</title>
{% endblock %}


{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
            <li class="breadcrumb-item active">Customers</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">Customers</div>
            <div class="card-body">
                <div class="card mb-4">
                    <div class="card-header">New Customers</div>
                    <div class="card-body">
                        <form action="/customers/" method="POST" id="customer_form">
                            <label for="customer_name" class="col-form-label">Customers Name</label>
                            <input type="text" name="customer_name" id="customer_name">
                            <input id="submitCustomer" value="Add Customers" class="btn btn-primary">
                        </form>
                    </div>
                </div>
                <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table mr-1"></i>
                    Customers Table
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        {% if customers|length < 1 %}
                        <h4>There are no customers, add one above</h4>
                        {% else %}
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Customer's Name</th>
                                    <th>Date</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Customer's Name</th>
                                    <th>Date</th>
                                    <th>Actions</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for customer in customers %}
                                <tr>
                                    <td>{{ customer.customer_id }}</td>
                                    <td>{{ customer.date_created.date() }}</td>
                                    <td>
                                        <a href="/delete-customer/{{ customer.customer_id }}">Delete</a>  
                                        <br>
                                        <a href="/update-customer/{{ customer.customer_id }}">Update</a>  
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                </div>
            </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}